@import url('https://fonts.googleapis.com/css2?family=Borel&display=swap');


body,
html,
#root {
  height: 100%;
}

html {
  font-size: 16px;
}

h1 {
  text-align: center;
  background-color: green;
  color: white;
  padding-top: 10px;
  font-family: 'Borel', cursive;
}

.highlight {
  color: #9df89b;
}